// COMPONENTS
@import "./components/controller.min.css";
@import "./components/play-or-pause.min.css";
@import "./components/input.min.css";

* {
  padding: 0;
  margin: 0;
  overflow: hidden;
}